<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Diamond Events</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>
	<div class="container">

		<h1>Adicionar Festa</h1>

		<form th:action="@{/festas}" method="post" th:object="${festa}">
			
			<div>
				<label>Nome:</label> <input type="text" th:field="*{nome}">
				<p th:errors="*{nome}"></p>
			</div>
			<div>
				<label>Local:</label> <input type="text" th:field="*{local}">
				<p th:errors="*{local}"></p>
			</div>
			<div>
				<label>Data:</label> <input type="date" th:field="*{data}">
				<p th:errors="*{data}"></p>
			</div>
			<div>
				<label>Horário:</label> <input type="time" th:field="*{horario}">
				<p th:errors="*{horario}"></p>
			</div>
			<div>
				<button class="lime darken-4 waves-effect waves-light btn" type="submit">Salvar</button>
				<button class="red darken-4 waves-effect waves-light btn" type="reset">Limpar</button>
			</div>

		</form>
	</div>
</body>
</html>