<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Diamond Events</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">


		<h1>Lista de Festas</h1>

		<p th:if="${mensagem}" th:text="${mensagem}"></p>
		<table class="highlight">

			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horário</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="f : ${festas}">
					<td th:text="${f.id}">Id</td>
					<td><a th:href="@{/festas/{id}(id=${f.id})}"><span
							th:text="${f.nome}">Nome</span></a></td>
					<td th:text="${f.local}">Local</td>
					<td th:text="${#temporals.format(f.data, 'dd/MM/yyyy')}">Data</td>
					<td th:text="${f.horario}">Horário</td>
					<td><a th:href="@{/festas/{id}/selecionar(id=${f.id})}"><i
							class="material-icons">edit</i></a> <a
						th:href="@{/festas/{id}/remover(id=${f.id})}"><i
							class="material-icons">delete</i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>