<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<title>Diamond Events</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">


		<h1>Lista de Festas</h1>

		<table>

			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Local</th>
					<th>Data</th>
					<th>Horário</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="f : ${festas}">
					<td th:text="${f.id}">Id</td>
					<td><a th:href="@{/festas/{id}(id=${f.id})}"><span
							th:text="${f.nome}">Nome</span></a></td>
					<td th:text="${f.local}">Local</td>
					<td th:text="${f.data}">Data</td>
					<td th:text="${f.horario}">Horário</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>